<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="robot_ip" doc="IP of the EKI interface on the robot controller" />
    <arg name="robot_port" default="54600" doc="UDP port of the EKI interface on the robot controller" />
    <arg name="robot_state_port" default="54602" doc="UDP port of the EKI state interface on the robot controller" />

    <!-- the interface node expects its parameters in the 'eki' namespace -->
    <rosparam subst_value="true">
      eki:
        robot_ip: "$(arg robot_ip)"
        robot_port: "$(arg robot_port)"
        robot_state_port: "$(arg robot_state_port)"
    </rosparam>

    <!-- main 'driver node': the EKI interface -->
    <node name='kuka_eki_interface' pkg='kuka_eki_interface' type="kuka_eki_interface_node" output="screen"/>

    <!-- state publisher node -->
    <node name='kuka_eki_state_publisher' pkg='kuka_eki_interface' type="kuka_eki_state_publisher"/>
</launch>